aiosignal==1.3.1
appdirs==1.4.4
apricot-select==0.6.1
arviz==0.18.0
asttokens==2.4.1
attrs==23.2.0
black==19.3b0
blinker==1.8.2
cachetools==5.4.0
casymda==0.2.29
CCIT==0.4
certifi==2024.7.4
cftime==1.6.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmdstanpy==1.2.4
comm==0.2.2
cons==0.4.6
contourpy==1.2.1
cycler==0.12.1
daft==0.1.2
debugpy==1.8.2
decorator==5.1.1
deprecat==2.1.1
dill==0.3.8
dm-tree==0.1.8
et-xmlfile==1.1.0
etuples==0.3.9
exceptiongroup==1.2.1
executing==2.0.1
fastprogress==1.0.3
filelock==3.15.4
Flask==3.0.3
Flask-Cors==4.0.1
flatbuffers==1.12
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
ges==1.1.0
graphviz==0.20.3
h5netcdf==1.3.0
h5py==3.11.0
idna==3.7
ipykernel==6.29.5
ipython==8.26.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
lingam==1.5.5
llvmlite==0.43.0
logical-unification==0.4.6
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
miniKanren==1.0.3
mpmath==1.3.0
msgpack==1.0.8
multipledispatch==1.0.0
nest-asyncio==1.6.0
netCDF4==1.7.1.post1
networkx==3.3
nose==1.3.7
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==24.1
pandas==2.0.3
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
pgmpy==0.1.25
pillow==10.4.0
platformdirs==4.2.2
pomegranate==1.1.0
prompt_toolkit==3.0.47
protobuf==5.27.2
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
pygraphviz==1.13
pymc==5.16.2
pyparsing==3.1.2
pyro-api==0.1.2
pyro-ppl==1.9.1
pytensor==2.25.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
ray==2.32.0
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.19.0
scikit-learn==1.5.1
scipy==1.13.1
semver==3.0.2
simpy==4.1.1
six==1.16.0
stack-data==0.6.3
stanio==0.5.1
statsmodels==0.14.2
sympy==1.13.0
Theano-PyMC==1.1.2
threadpoolctl==3.5.0
toml==0.10.2
toolz==0.12.1
torch==2.3.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
triton==2.3.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
Werkzeug==3.0.3
wrapt==1.16.0
xarray==2023.12.0
xarray-einstats==0.6.0
xgboost==2.1.0
xmltodict==0.13.0
